@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Bebas Neue ;
}

body {
    background-color: rgb(15, 15, 15);
}

.stopWatch {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(bagrunk.jpg);
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 200px auto 0;
    text-align: center;
    color: white;
}

.stopWatch h1 {
    font-size: 80px;
    margin: 50px 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopWatch img {
    width: 60px;
    margin: 0 30px;
    cursor: pointer;
}

.stopWatch:nth-child(2) {
    width: 90px;
}