* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(128, 43, 226);
}

.container {
    width: 500px;
    min-height: 150px;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(58, 226, 43, 0.832);
}

h1 {
    color: rgb(58, 94, 226);
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px black;
    margin-bottom: 1.5rem;
}

.container-busqueda {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 2rem;
}

input {
    padding: 5px 10px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(43, 49, 226, 0.7);
}

button {
    background-color: rgb(43, 49, 226);
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.resutaldo {
    margin-top: 10px;
}

.resutaldo .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.resutaldo h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.resutaldo .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.resutaldo h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.resutaldo span {
    color: #5d6274;
}

.resutaldo h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

.resutaldo .loading {
    margin-top: 10px;
    margin-bottom: -10px;
    color: black;
    font-size: 15px;
    text-align: center;
}
